@import "src/app/styles/helper";
:host{
  height: 100%;
  width: 100%;
}
.invoice{
  display: flex;
  flex-direction: column;
  height: 100%;
  &_title{
    text-align: center;
  }
  &_msg{
    margin-top: 50%;
    text-align: center;
    a{
      color: $text-dark;
      font-weight: 700;
    }
  }
  &_loader{
    display: flex;
    justify-content: center;
    margin-top: 50%;
    transform: translateY(-50%);
  }
  .invoice-container{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    &_company{
      margin: .5em 0;
    }
    &_data{
      display: flex;
      flex-direction: column;
      min-height: 50px;
      height: 100%;
      max-height: 550px;
      overflow: auto;
    }
    .data_total{
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      align-items: flex-end;
      gap: .5em;
      margin-bottom: 70px;
      & > *{
        text-align: right;
      }
    }
  }
}

