.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #606060;
  padding: .5em;
  .item-fields-wrapper{
    display: flex;
    flex-direction: column;
    gap: .5em;
    .count-price-wrapper{
      display: flex;
      gap: 2em;
      .item_field{
        opacity: .6;
      }
    }
  }
  &_field{
    font-size: 1rem;
  }
  &_delete{
    background: none;
    border: none;
    cursor: pointer;
    &:hover{
      color: #e63946;
    }
  }
}
