@import "src/app/styles/helper";
.lista{
  width: 100%;
  max-height: 700px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em;
  overflow: hidden;
  &_title{
    text-align: center;
  }
  &_form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .4em;
    input{
      padding: .5em 1em;
      border-radius: 12px;
      border: none;
      box-shadow: 2px 3px 5px #a5a5a5;
    }
    .count-price-wrapper{
      display: flex;
      gap: 1em;
      justify-content: space-between;
      &_item{
        display: flex;
        flex-direction: column;
        gap: .4em;
      }
    }
    button{
      margin-top: 1.1em;
    }
  }
  .order{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    flex: 1;
    gap: 1em;
    height: 50%;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    .info_msg{
      text-align: center;
      color: #606060;
    }
  }
}
.invalid{
  border: 1px solid red;
}
