@import "src/app/styles/helper";
:host{
  height: 100%;
  width: 100%;
  margin-bottom: 70px;
}
.lista{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em;
  height: 100%;
  &_title{
    text-align: center;
  }
  &_form{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: .4em;
    input{
      padding: .5em 1em;
      border-radius: 12px;
      border: none;
      box-shadow: 2px 3px 4px rgba(113, 113, 113, 0.45);
    }
    .count-price-wrapper{
      display: flex;
      gap: 1em;
      justify-content: space-between;
      &_item{
        display: flex;
        width: 45%;
        flex-direction: column;
        gap: .4em;
      }
    }
    button{
      margin-top: 1.1em;
    }
  }
  .order{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 1em;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    .info_msg{
      text-align: center;
      color: #606060;
      margin-top: 1em;
    }
  }
}
input.ng-invalid.ng-touched{
  border: 1px solid #e63946 !important;
}
.error-div > * {
  color: #e63946;
}
